[Desktop Entry]
Name=RgQx
Type=Application
Exec=rgqx -basedir /media/data/Quake
Icon=logo
Comment=Experimental fork of RgQuake
Terminal=false
Categories=games;
X-OD-Manual=manual-gcw0.txt
